doctype html
html
  head
    title Test Form
  body
    h1 New Message Form

    form(method="POST", action="/new")

      label(for="author") 
      p Author
      input(type="text", name="author", id="author", required)

      label(for="message")
      p Message 
      textarea(name="message", id="message", required)

      button(type="submit") Submit
